<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <header class="page-header">
                <h1>Traffic Audit Comparison</h1>
            </header>
            <main class="traffic-audit">
                <div class="goal-statement-grid">
                    <div class="goal-statement-flex">
                        <h3>
                            <strong id="goal">GOAL: </strong>
                            Provide a data-driven audit of two retail brands' website
                            performance — <strong id="company-a">Company A </strong>and <strong id="company-b">Company B
                            </strong>— and provide recommendations for strategic
                            improvements.
                        </h3>
                    </div>
                </div>
                <!-- TRAFFIC-COMPARISON -->
                <div class="data-statement-grid">
                    <div class="data-statement-flex">
                        <h3>
                            <strong id="data">DATA: </strong>
                            Sourced from Similarweb API via Postman with raw JSON data
                            exported and integrated server-side using Express routes and Embedded JavaScript (EJS).
                        </h3>
                    </div>
                </div>
                <div class="traffic-comparison-chart-grid">
                    <div class="traffic-comparison-chart-flex">
                        <canvas id="traffic-comparison-chart-canvas"></canvas>
                        <script id="traffic-comparison-chart-script" type="application/json">
                            <%- JSON.stringify({
                                labels,
                                companyATrafficValues,
                                companyBTrafficValues
                            }) %>
                        </script>
                    </div>
                </div>
                <div class="traffic-comparison-copy-grid">
                    <div class="traffic-comparison-copy-flex">
                        <p>
                            From January to March 2025, <strong id="company-b">Company B </strong>averaged <strong
                                id="more-sessions">
                                2.16x more sessions </strong>than <strong id="company-a">Company A</strong>.
                            Let's look deeper into the data to understand where the users are coming from
                            and what audience segments can be constructed.
                        </p>
                    </div>
                </div>
                <!-- TRAFFIC-SOURCE -->
                <div class="traffic-source-companyA-chart-grid">
                    <div class="traffic-source-companyA-chart-flex">
                        <canvas id="companyA-traffic-source-canvas"></canvas>
                        <script id="companyA-traffic-source-script" type="application/json">
                            <%- JSON.stringify(companyATrafficSource) %>
                        </script>
                    </div>
                </div>
                <div class="traffic-source-companyB-chart-grid">
                    <div class="traffic-source-companyB-chart-flex">
                        <canvas id="companyB-traffic-source-canvas"></canvas>
                        <script id="companyB-traffic-source-script" type="application/json">
                            <%- JSON.stringify(companyBTrafficSource) %>
                        </script>
                    </div>
                </div>
                <!-- AUDIENCE-SEGMENTS -->
                <div class="audience-segment-chart-grid">
                    <div class="audience-segment-chart-flex">
                        <!-- <p>MONTH of APRIL 2024 data</p> -->
                        <canvas id="audience-segment-canvas"></canvas>
                        <script id="audience-segment-script" type="application/json">
                            <%- JSON.stringify({
                                audienceLabels,
                                companyAAudienceSegment,
                                companyBAudienceSegment
                            }) %>
                        </script>
                    </div>
                </div>

                <div class="gender-segment-chart-grid">
                    <div class="gender-segment-chart-flex">
                        <p>GENDER SEGMENT</p>
                        <canvas id="gender-segment-canvas"></canvas>
                        <script id="gender-segment-script" type="application/json">
                            <%- JSON.stringify({
                                
                            }) %>
                        </script>
                    </div>
                </div>

                <div class="geo-segment-chart-grid">
                    <div class="geo-segment-chart-flex">
                        <p>GEO SEGMENT</p>
                        <canvas id="geo-segment-canvas"></canvas>
                        <script id="geo-segment-script" type="application/json">
                            <%- JSON.stringify({
                                
                            }) %>
                        </script>
                    </div>
                </div>


            </main>
            <%- include('partials/footer') %>
                <script src="/scripts/traffic-audit.js"></script>

    </body>

</html>