<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>

        <%- include("partials/header") %>
            <header class="hero-case-study span-2">
                <div class="title">
                    <h1>Traffic Audit Comparison</h1>
                    <h2>Case Study</h2>
                </div>
            </header>

            <main class="case-study-page">
                <!-- MODULE 1 -->
                <div class="next-step-label">
                    Sticky Anchor link menu goes here
                </div>
                <div class="wrapper column-1">
                    <div class="goal-statement-title">
                        <h3>
                            <strong class="data">GOAL</strong>
                        </h3>
                    </div>
                    <div class="goal-statement">
                        <h3>
                            Provide a data-driven audit of two retail brands' websites
                            — anonymized as
                            <strong class="company-a">Company A </strong>
                            and
                            <strong class="company-b">Company B </strong>
                            —
                            and provide recommendations for strategic
                            improvements
                        </h3>
                    </div>
                </div>
                <div class="wrapper column-2">
                    <div class="data-statement-title">
                        <h3>
                            <strong class="data">DATA</strong>
                        </h3>
                    </div>
                    <div class="data-statement">
                        <h3>
                            Sourced from Similarweb API via Postman with raw JSON
                            exported. Data is integrated server-side using Express router, Embedded JavaScript (EJS),
                            and visualized with Chart.js. All numerical values are generated dynamically
                        </h3>
                    </div>

                </div>
                <!-- MODULE 2 -->
                <!-- TRAFFIC-COMPARISON -->
                <div class="wrapper span-2 six-grid">
                    <div class="span-6 title">
                        <h2>
                            Overview
                        </h2>
                    </div>
                    <div class="span-6">
                        <div class="chart">
                            <canvas id="traffic-comparison-canvas"></canvas>
                            <script id="traffic-comparison-script" type="application/json">
                            <%- JSON.stringify({
                                labels,
                                companyATrafficValues,
                                companyBTrafficValues
                            }) %>
                            </script>
                        </div>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            <strong class="company-b">Company B </strong>
                            averaged
                            <strong class="data">
                                <%- JSON.stringify(percentDifferenceTraffic) %>%
                            </strong>
                            more sessions than
                            <strong class="company-a">Company A</strong>
                            over the last three months
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <P>
                            <strong class="company-b">Company B </strong>
                            rebounded strongly from the post-holiday lull, showing a
                            <strong class="data">
                                <%- JSON.stringify(companyBMonthlyPercentChangeTraffic) %>%
                            </strong>
                            MoM increase in traffic from January to February
                        </P>
                    </div>
                    <div class="text-box span-2">
                        <div class="next-step-label">
                            <h4>
                                NEXT STEP
                            </h4>
                        </div>
                        <p>
                            Dig further into the data to understand traffic sources, audience segments,
                            and user behavior
                        </p>
                    </div>
                </div>
                <!-- MODULE 3 -->
                <!-- TRAFFIC-SOURCE -->
                <div class="wrapper span-2 six-grid">
                    <div class="span-6 title">
                        <h2>
                            Traffic Sources
                        </h2>
                    </div>
                    <div class="traffic-source-companyA chart span-1-3">
                        <canvas id="companyA-traffic-source-canvas"></canvas>
                        <script id="companyA-traffic-source-script" type="application/json">
                            <%- JSON.stringify(companyATrafficSource) %>
                        </script>
                    </div>
                    <div class="traffic-source-companyB chart span-3-6">
                        <canvas id="companyB-traffic-source-canvas"></canvas>
                        <script id="companyB-traffic-source-script" type="application/json">
                            <%- JSON.stringify(companyBTrafficSource) %>
                        </script>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            <strong class="company-a">Company A </strong>
                            looks to have utilized an effective SEO strategy, as their Organic Search
                            traffic outpaced
                            <strong class="company-b">Company B </strong>
                            by over
                            <strong class="data">
                                <%- JSON.stringify(percentDifferenceOrganicSearch) %>%
                            </strong>
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            <strong class="company-b">Company B </strong>
                            drove
                            <strong class="data">
                                <%- JSON.stringify(percentDifferenceDirect) %>%
                            </strong>
                            more Direct traffic, suggesting that the marketing focus was on brand awareness
                            as opposed to search optimization
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="next-step-label">
                            <h4>
                                NEXT STEP
                            </h4>
                        </div>
                        <p>
                            Scope out user attributes to establish audience segments
                        </p>
                    </div>
                </div>
                <!-- MODULE 4 -->
                <!-- AUDIENCE-SEGMENTS -->
                <div class="wrapper span-2 six-grid">
                    <div class="span-6 title">
                        <h2>
                            Audience Segments
                        </h2>
                    </div>
                    <div class="span-6">
                        <div class="chart">
                            <canvas id="age-segment-canvas"></canvas>
                            <script id="age-segment-script" type="application/json">
                            <%- JSON.stringify({
                                audienceLabels,
                                companyAAudienceSegment,
                                companyBAudienceSegment
                            }) %>
                        </script>
                        </div>
                    </div>
                    <div class="chart span-1-3">
                        <canvas id="gender-segment-canvas"></canvas>
                        <script id="gender-segment-script" type="application/json">
                            <%- JSON.stringify({
                                genderLabels, 
                                companyAGenderSegment, 
                                companyBGenderSegment
                            }) %>
                        </script>
                    </div>
                    <div class="geo-segment chart span-3-6">
                        <canvas id="geo-segment-canvas"></canvas>
                        <script id="geo-segment-script" type="application/json">
                            <%- JSON.stringify({
                                geoLabels,
                                companyAGeoSegment,
                                companyBGeoSegment
                            }) %>
                        </script>

                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            Both companies had similar audiences traits, but
                            <strong class="company-a">Company A </strong>
                            users maintained a modest presence outside of the US:
                            <strong class="data">
                                <%- JSON.stringify(sumCompanyATopIntlGeos) %>%
                            </strong>
                            of traffic came from Canada or the United Kingdom
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            <strong class="company-b">Company B</strong>
                            skewed more female, almost entirely within the US, and slightly older:
                            <strong class="data">
                                <%- JSON.stringify(sumCompanyBAudienceSegment) %>%
                            </strong>
                            over the age of 34
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="next-step-label">
                            <h4>
                                NEXT STEP
                            </h4>
                        </div>
                        <p>
                            Analyze audience behavior to deepen understanding of user journey
                        </p>
                    </div>
                </div>
                <!-- MODULE 5 -->
                <!-- USER-BEHAVIOR -->
                <div class="wrapper span-2 six-grid">
                    <div class="span-6 title">
                        <h2>
                            User Behavior
                        </h2>
                    </div>
                    <div class="bounce-rate chart span-6">
                        <canvas id="bounce-rate-canvas"></canvas>
                        <script id="bounce-rate-script" type="application/json">
                            <%- JSON.stringify({
                                bounceRateLabels,
                                companyABounceRate,
                                companyBBounceRate
                            }) %>
                        </script>
                    </div>
                    <div class="chart span-1-3">
                        <canvas id="avg-visit-duration-canvas"></canvas>
                        <script id="avg-visit-duration-script" type="application/json">
                             <%- JSON.stringify({                         
                                avgVisitDurationLabels,                            
                                companyAAvgVisitDuration,                            
                                companyBAvgVisitDuration                                        
                                 }) %>                                   
                        </script>
                    </div>
                    <div class="pages-per-visit chart span-3-6">
                        <canvas id="pages-per-visit-canvas"></canvas>
                        <script id="pages-per-visit-script" type="application/json">
                            <%- JSON.stringify({
                                pagesPerVisitLabels,
                                companyAPagesPerVisit,
                                companyBPagesPerVisit
                            }) %>
                        </script>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            Bounce rate for both companies was comparable, but
                            <strong class="company-b">Company B </strong>
                            users spent
                            <strong class="data">
                                <%- JSON.stringify(avgVisitDurationPercentDifference) %>%
                            </strong>
                            more time on site
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="insight-label">
                            <h4>
                                INSIGHT
                            </h4>
                        </div>
                        <p>
                            Although
                            <strong class="company-b">Company B </strong>
                            users remained on site for longer,
                            <strong class="company-a">Company A </strong>
                            users spent
                            <strong class="data">
                                <%- JSON.stringify(avgTimePerPagePercentDifference) %>%
                            </strong>
                            more time per page, averaging
                            <strong class="data">
                                <%- JSON.stringify(companyAAvgTimePerPage) %>
                            </strong>
                            seconds as opposed to
                            <strong class="data">
                                <%- JSON.stringify(companyBAvgTimePerPage) %>
                            </strong>
                            seconds
                        </p>
                    </div>
                    <div class="text-box span-2">
                        <div class="next-step-label">
                            <h4>
                                NEXT STEP
                            </h4>
                        </div>
                        <p>
                            Summarize findings and provide assessment
                        </p>
                    </div>
                </div>
                <!-- MODULE 6 -->
                <!-- CONCLUSION & ASSESSMENT -->
                <div class="wrapper span-2 two-grid">
                    <div class="title span-2">
                        <h2>
                            Conclusion
                        </h2>
                    </div>
                    <div class="text-box column-1">
                        <div class="flex-center">
                            <p id="key-point-title">
                                <strong class="company-a">Company A </strong>key points
                            </p>
                        </div>
                        <div>
                            <ol>
                                <li value="1">One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                        </div>
                    </div>
                    <div class="text-box column-2">
                        <div class="flex-center">
                            <p id="key-point-title">
                                <strong class="company-b">Company B </strong>key points
                            </p>
                        </div>
                        <div>
                            <ol>
                                <li value="1">One</li>
                                <li>Two</li>
                                <li>Three</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="two-grid span-2 flex-center">
                    <a href="/seo-audit" class="cta-button cta-button--animated cta-button--wiggle">
                        Technical SEO Analysis
                    </a>
                </div>

            </main>
            <%- include('partials/footer') %>
                <script src="/scripts/traffic-audit.js"></script>

    </body>

</html>